@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*page*/

body
{
    background: url('images/fond_noir.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #FEFEE2;
}

#bloc_page
{
    width: 95%;
    margin: auto;
}

/*header*/

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 75px;
    height: 50px;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 2px;
    color: #5D594E;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    margin-left: 10px;
    font-weight: bold;
    color: #CEC7B3;
}

/* Navigation du header*/

header nav ul
{
    list-style-type: none;
    display: flex;
}

header nav li
{
    margin-right: 10px;
}

header nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #FEFEE2;
    text-decoration: none;
}

header nav a:hover
{
    color: #FF5500;
    border-bottom: 3px solid #FF5500;
}


/*section: général*/

section h1
{
    font-family: Dayrom, serif;
    font-weight: normal;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 10px 0 0 10px;
}

section div li
{
    margin-bottom: 4px;
}


/*Le formulaire*/

#formulaire
{
    border: 3px solid #b75d03;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #181818;
    margin: 10px;
    height: 465px;
    display: flex;
    flex-direction: column;
}

#selection
{
    display: flex;
    flex-direction: row-reverse;
    margin: 0px;
}

/*Historique*/

#historique
{
    flex: 3;
    border: 2px solid #b75d03;
    border-radius: 5px;
    box-shadow: 0px 4px 5px #181818;
    margin: 15px 10px 10px 5px;
    display: flex;
    flex-direction: column;
    height: 395px;
    overflow: auto;
}

#historique h1
{
    font-family: 'Trebuchet' serif;
    font-size: 1.4em;
}

#historique ol
{
    overflow: auto;    
}

/*Liste des films à noter*/

#selection_film
{
    flex: 5;
    border: 2px solid #b75d03;
    border-radius: 5px;
    box-shadow: 0px 4px 5px #181818;
    margin: 15px 5px 10px 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#selection_film li
{
    display: flex;
}

#selection_film li form
{
    margin-left: 15px;
}

/*Footer*/

footer
{
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}