<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'bdd/contact.css' %}" />
	<title>Contact</title>
</head>

<body>
	<div id="bloc_page">
		<header>
            <div id="titre_principal">
                <div id="logo">
                    <img src="{% static 'bdd/images/logo.gif' %}" alt="Logo du site" />
                    <h1>Site de recommandation</h1>    
                </div>
                <h2>Projet étudiant Ecole Centrale Marseille</h2>
            </div>

            <nav>
                <ul>
                    <li><a href="base1">Retour</a></li>
                </ul>
            </nav>
        </header>

        <section id="descriptif">
        	<h1>Contact</h1>
        	<p>
        		Chef de projet: Anthony Andolfo<br>
                Mail: anthony.andolfo@centrale-marseille.fr
        	</p>
            <p>
                Ingénieur informatique spécialisé framework: Nicolas Pougeade<br>
                Mail: nicolas.pougeade@centrale-marseille.fr
            </p>
            <p>
                Ingénieur informatique spécialisé framework: Guillaume Morel<br>
                Mail: guillaume.morel@centrale-marseille.fr
            </p>
            <p>
                Ingénieur informatique spécialisé modèlisation mathématique de l'algorithme: Etienne Gautier<br>
                Mail: etienne.gautier@centrale-marseille.fr
            </p>
            <p>
                Ingénieur informatique spécialisé modèlisation mathématique de l'algorithme: Alexandre Calnibalosky<br>
                Mail: alexandre.calnibalosky@centrale-marseille.fr
            </p>
            <p>
                Ingénieur informatique spécialisé modèlisation mathématique de l'algorithme: Alexandre Ollivier<br>
                Mail: alexandre.ollivier@centrale-marseille.fr
            </p>
            <p>
                Ingénieur informatique spécialisé création et design du site: Thibaud Leclaire<br>
                Mail: thibaud.leclaire@centrale-marseille.fr
            </p>
            <p>
                Ingénieur informatique spécialisé création et design du site: Pierre-Marie Becoulet<br>
                Mail: pierremarie.becoulet@centrale-marseille.fr
            </p>
        </section>
    </div>
</body>